{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.lwjgl/lwjgl {:mvn/version "3.1.5"}
  org.lwjgl/lwjgl$natives-windows {:mvn/version "3.1.5"}
  org.lwjgl/lwjgl-opengl {:mvn/version "3.1.5"}
  org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.1.5"}
  org.lwjgl/lwjgl-glfw {:mvn/version "3.1.5"}
  org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.1.5"}
  }

 :paths ["src"]}